body{
  margin: 0;
  padding: 0;
  font: 400 14px 'Roboto', sans-serif;
}

div#screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 120px;

  grid-template-areas:
  "viewport"
  "navigation";
}

 div#viewport{
   height: calc(100vh - 120px);
   grid-area: viewport;
   overflow: hidden;
   overflow-y: scroll;
 }

 div#navbar {
   grid-area: navigation;
   z-index: 10;
 }

/* --- Typograhy --- */

p, header, .submit { letter-spacing: 0.01rem }

p {
  line-height: 1.4em;
  margin-bottom: 15px;
}

  p.warning {
    font-style: italic;
    background: transparent url(../img/icon_Warning.svg) no-repeat 0 0;
    padding: 3px 0 0 34px;
  }

h1 {
  font-weight: 700;
  font-size: 2.8224rem;
  margin-bottom: 60px;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  cursor: default;
}

@media (max-width: 576px) {
  h1 { font-size: 2rem; margin-bottom: 30px }
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: -0.01em;
}

.shadow { box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07); }
.shadowBlue { box-shadow: 0px 4px 8px rgba(1, 40, 80, 0.2); }


/* --- Colors --- */

/* Light Gray */
body,
div.button.b_checkbox::before
{ background-color: #EBEBEB }

/* Text grey */
p, .switch, label, .form span
{ color: #888888 }

/* Dark grey */
h1, h2, h3, input, p.value { color:#333333 }

/* Antarus blue */
header, .bluebutton.active,
div.button.b_checkbox.selected::before,
.form .switch span
{ background-color: #023E84 }

div.button.selected,
div.form input:focus { border-color: #023E84 }

/* Antarus red */
nav#steps .navitem.active {border-color: #E6332A}
div.form input.error {border-color: #fbe0df}
div.form input.error:active,
div.form input.error:focus {border-color: #E6332A}


/* --- Header --- */

header {
  height: 110px;
  width: auto;
  width: 100%;
  z-index: 10;
}

  header .container { position: relative }

  header #Logotype {
    position: absolute;
    top:30px;
  }

/* --- Navbar --- */

div#navbar{
  background-color: #FFF;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

/* Steps */

nav#steps {
  display: flex;
  height: 120px;
  align-items: center;
  align-content: stretch;
  position: relative;
  margin: 0;
}

  nav#steps div.navitem {
    color: #888;
    flex: auto;
    display: flex;
    justify-content: center;
    opacity: 0.3;
    padding: 45px 0px;
    border-color: #FFF;
    border-top-width: 6px;
    border-top-style: solid;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    transition: opacity 0.2s ease, border-color 0.5s ease;
  }

    nav#steps div.navitem div.stepNum {
      width: 24px;
      height: 24px;
      background-color: #888;
      border-radius: 12px;
      margin-right: 10px;
      box-sizing: border-box;
      overflow: hidden;
    }

      nav#steps div.navitem div.stepNum span{
        color:#FFF;
        display: block;
        line-height: 23px;
        text-align: center;
        font-weight: 700;
        padding-top: 1px;
        margin-top: 0px;
        transition: margin-top 0.2s ease;
      }

        nav#steps div.navitem.checked div.stepNum span {margin-top: -24px}

        nav#steps div.navitem div.stepNum span::after{
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-image: url(../img/icon_CheckSign.svg);
          background-position: 0 0;
        }

    @media (min-width: 767.5px) and (max-width: 992px) {
      nav#steps div.navitem { justify-content: center }
      nav#steps div.navitem div.stepNum { display: none }
    }

    nav#steps div.navitem div.stepInfo {
      height: 24px;
      line-height: 24px;
      color:#888;
      padding-top: 1px;
      box-sizing: border-box;
    }

    @media (max-width: 767.5px) {
      nav#steps { height: 50px }
      nav#steps div.navitem { justify-content: center; padding: 10px 0 }
      .bluebutton { margin: 0 !important }
      div.stepNum { margin: 0 !important }
      nav#steps div.navitem div.stepInfo { display: none }
    }

  nav#steps div.navitem.checked { opacity: 1; cursor: pointer }

  @media (hover: hover) {
    nav#steps div.navitem.checked { opacity: 0.3 }
    nav#steps div.navitem.checked:hover { opacity: 1 }
  }

    nav#steps div.navitem.checked div.stepInfo {color: #023E84}
    nav#steps div.navitem.checked div.stepNum {background-color: #023E84}

  nav#steps div.navitem.active { opacity: 1 }
    nav#steps div.navitem.active div.stepInfo {color: #023E84}
    nav#steps div.navitem.active div.stepNum {background-color: #023E84}

/* --- Main --- */

main {
  height: calc(100% - 110px);
  position: relative;
}

  #splashscreen{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 5;
    display: none;
    background: #EBEBEB url(../img/loader.gif) no-repeat 50% 50%;
  }

    #splashscreen.active{ display: block; }

    #splashscreen div{
      position: absolute;
      top: calc(50% + 40px);
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

  main .slide{
    display: block;
    width: 100%;
    padding: 60px 0 0 0;
    position: absolute;
    top: 0;

    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translateX(40px);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
  }

    main .slide.active{
      opacity: 1;
      visibility: visible;
      display: block;
      transform: translateX(0px);
    }

    main .slide.checked{
      opacity: 0;
      visibility: hidden;
      transform: translateX(-40px);
    }

  .column { margin-bottom: 30px }
  .subText { padding: 0 15px }


  /* Button */

  div.button {
    position: relative;
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFF;

    display: flex;
    align-items: center;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    transform: translateY(0px);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  }

    @media (hover: hover) {
      div.button:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.075);
      }
    }

    div.button:active,
    div.button:focus {
      transform: translateY(1px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    div.button img {margin-right:15px}
    div.button h2 {
      margin:0;
      line-height: 48px
    }

    div.button h2 span {display: none}

      div.button.info h2 {
        display: flex;
        align-items: center;
      }

        div.button.info h2 span{
          display: block;
          content: '?';
          margin-left: 10px;
          font-weight: 700;
          font-size: 1rem;
          line-height: 25px;
          text-align: center;
          width: 24px;
          height: 24px;
          color: #FFF;
          background-color: #AAAAAA;
          border-radius: 12px;
        }

          @media (hover: hover) {
            div.button.info h2 span {
              background-color: #EBEBEB;
              opacity: 0;
              transition: opacity 0.2s ease, background-color 0.2s ease;
            }

            div.button.info:hover h2 span {
              opacity: 1;
            }

            div.button.info:hover h2 span:hover {
              background-color: #E6332A;
            }
          }

    /* Selected */
    div.button.selected {
      box-shadow: 0px 4px 8px rgba(1, 40, 80, 0.2);
    }

      @media (hover: hover) {
        div.button.selected:hover { box-shadow: 0px 6px 12px rgba(1, 40, 80, 0.15) }
      }

      div.button.selected:active,
      div.button.selected:focus {
        box-shadow: 0px 2px 5px rgba(0, 40, 80, 0.4);
      }

    /* Checkbox */
    div.button.b_checkbox::before{
      content: '';
      display: block;
      border-radius: 12px;
      width: 24px;
      height: 24px;
      margin-right: 15px;

      background-image: url(../img/icon_CheckSign.svg);
      background-repeat: no-repeat;
      background-position: 0 -24px;

      transition: background-color 0.2s ease, background-position 0.2s ease;
    }

    div.button.b_checkbox.selected::before{
      background-position: 0 0;
    }

  div.button.Antarus::after,
  div.button.Wilo::after,
  div.button.Grundfos::after
  {
    content: '';
    width: 82px;
    height: 24px;
    position: absolute;
    right:25px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }

    div.button.Antarus::after {background-image: url(../img/Antarus@sm.svg)}
    div.button.Wilo::after {background-image: url(../img/Wilo@sm.svg)}
    div.button.Grundfos::after {background-image: url(../img/Grundfos@sm.svg)}

  /* Submit */

  .bluebutton {
    font-weight: 700;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 30px 0 0 0;
    color: #FFF;
    background-color: #888;
    line-height: 60px;
    width: auto;
    cursor: default;
    opacity: 0.3;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    transform: translateY(2px);
    transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
  }

    a.bluebutton {
      text-decoration: none;
      color: #FFF !important
    }

    .submit::after {
      font-weight: 400;
      font-size: 30px;
      line-height: 55px;
      content: '\2192';
      float: right;
      margin: 0 15px;
    }

    .download { display: none }

      .download::after {
        font-weight: 400;
        font-size: 30px;
        line-height: 55px;
        content: '\2913';
        float: right;
        margin: 0 15px;
      }

  .bluebutton.active {
    opacity: 1;
    display: block;
    cursor: pointer;

    transform: translateY(0px);
    box-shadow: 0px 4px 8px rgba(1, 40, 80, 0.2);
  }

    @media (hover: hover) {
      .bluebutton.active:hover {
        transform: translateY(-2px);
        box-shadow: 0px 6px 12px rgba(1, 40, 80, 0.15);
      }
    }

    .bluebutton.active:active,
    .bluebutton.active:focus {
      transform: translateY(1px);
      box-shadow: 0px 2px 5px rgba(0, 40, 80, 0.4);
    }

  /* Switch */

  div.switch{
    line-height: 26px;
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
  }

  div.switch span {
    width: 38px;
    height: 24px;
    border-radius: 12px;
    background-color: #AAA;
    position: relative;
    padding: 5px;
    margin-left: 10px;
    transition: opacity 0.2s ease;
  }

    div.switch.off span {
      background-color: #AAA;
      opacity: 0.3
    }

    div.switch span::after {
      content: '';
      position: absolute;
      left: calc(100% - 19px);
      width: 14px;
      height: 14px;
      border-radius: 7px;
      background-color: #EBEBEB;
      transition: left 0.2s ease;
    }

      div.switch.off span::after { left: 5px }

      div.form .switch span::after {background-color: #fff}


  /* Forms */

  div.form {
    background-color: #fff;
    padding: 30px 30px 20px 30px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

    div.form h2 {
      float: left;
      line-height: 24px;
      margin: 10px 0 20px 0;
    }

      div.form h2:first-child {margin-top: 0;}

    div.form div.switch {
      clear: both;
      margin-bottom: 20px;
      padding: 0 20px;
    }

      div.form div.pane_switch { clear: none; float: right }

    div.pane_tab{
      clear: both;
      opacity: 1;
      transition: opacity 0.2s ease;
    }

    div.pane_tab.off {
      opacity: 0.3;
      pointer-events: none;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
    }

      div.pane_tab.off input {
        color:#FFFFFF; border-color: #EBEBEB }

    div.form .formline {
      clear: both;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-bottom: 20px;
      overflow: hidden;
      height: auto;
      opacity: 1;
      transition: height 0.5s ease, margin 0.2s ease, opacity 0.5s ease;
    }

      div.form .formline.disabled {height: 0px; margin: 0px; opacity: 0}

    @media (max-width: 575.98px) {
      div.form { padding: 30px 20px 20px 20px }
      div.form .formline { padding: 0 }
      div.form div.switch { padding: 0 }
    }

      div.form label {
        margin:0;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      div.form input {
        font-weight: 900;
        margin:0 10px;
        padding: 5px;
        line-height: 20px;
        width: 80px;
        text-align: right;
        border: 5px solid #EBEBEB;
        outline: none;
        transition: border-color 0.2s ease, color 0.2s ease;
      }

      div.form div.numtext {
        display: flex;
        align-items: center;
      }

      div.numtext div.units{
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-right: -5px;
        margin-left: -5px;

        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
      }

        div.units ul.measure{
          list-style: none;
          margin: 0;
          padding: 0;
          width: auto;
          transition: margin-top 0.2s ease;
        }

          div.units ul.measure li{
            width: 40px;
            padding: 5px;
            line-height: 30px;
          }

          div.units ul.s02 {margin-top: -40px;}

        div.units span{border-bottom: 1px dotted #888}

        @media (hover: hover) {
          div.units:hover span{border-bottom: none}
        }

      div.form .numauto {
        display: flex;
        align-items: center;
      }

        div.form .numauto span{
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 12px;
          line-height: 24px;
          text-align: center;
          background-color: #EBEBEB;
          font-size: 24px;
          font-weight: 400;
          color: #000;
          text-indent: -100px;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: 0 0;
          transition: background-color 0.2s ease;

          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -khtml-user-select: none;
          -ms-user-select: none;
        }

          div.form .numauto span:hover {background-color: #023E84}

          div.form .numauto span.numdec {background-image: url(../img/btn_Minus.svg);}
          div.form .numauto span.numinc {background-image: url(../img/btn_Plus.svg);}

/* --- Result --- */

ul#propList {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
  display: flex;
}

  ul#propList li {
    display: flex;
    justify-content: flex-start;
  }
    ul#propList li:last-child { margin:0 }

    ul#propList div.propNum {
      width: 24px;
      height: 24px;
      background-color: #888;
      border-radius: 12px;
      box-sizing: border-box;
      overflow: hidden;
      cursor: pointer;

      transition: background-color 0.2s ease;
    }

      ul#propList .active div.propNum {
        background-color: #023E84;
        cursor: default;
      }

      @media (hover: hover) {
        ul#propList div.propNum:hover {background-color: #023E84;}
      }

      ul#propList div.propNum span {
        color: #EBEBEB;
        display: block;
        line-height: 23px;
        text-align: center;
        font-weight: 700;
        padding-top: 1px;
        margin-top: 0px;
        transition: margin-top 0.2s ease;
      }

        ul#propList div.propNum span::after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-image: url(../img/icon_CheckSign.svg);
          background-position: 0 0;
        }

        ul#propList .checked div.propNum span {margin-top: -24px}

        @media (hover: hover) {
          ul#propList .checked div.propNum span {margin-top: -24px}
          ul#propList .checked div.propNum:hover span {margin-top: 0px}
        }

    ul#propList div.propName {
      font-weight: 700;
      height: 24px;
      line-height: 24px;
      color: #333;
      padding-top: 1px;
      margin: 0 10px;
      width: auto;
      max-width: 0;
      overflow: hidden;
      cursor: default;
      opacity: 0;

      transition: margin-right 0.5s ease,
                  max-width 1s cubic-bezier(0,1,.3,1),
                  opacity 0.5s ease;
    }

      ul#propList .active div.propName {
        opacity: 1;
        max-width: 500px;
        margin-right: 30px;
        transition: margin-right 0.5s ease,
                    max-width 1s ease,
                    opacity 0.75s ease;
      }

/* Proposals */
div#proposal{
  display: block;
  width: 100%;
  position: relative;
}

  div.station{
    position: absolute;
    top:0;

    opacity: 0;
    visibility: hidden;
    transform: translateX(40px);

    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
  }

    div.station.active{
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }

    div.station.checked{
      opacity: 0;
      visibility: hidden;
      transform: translateX(-40px);
    }

    /* Data layout */

    div.databox{
      display: grid;
      align-items: start;
      grid-template-columns: 66.6667% 33.3333%;
      grid-template-areas: "graph data" "info data";
      grid-gap: 30px;
    }

    @media (max-width: 992px) {
      div.databox{
        grid-template-columns: 100%;
        grid-template-areas: "graph" "data" "info";
      }
      div.data { border-bottom: 1px solid #ccc }
    }

      div.graph { grid-area: graph }
      div.data { grid-area: data }
      div.info { grid-area: info; padding: 15px}

      /* Graph */
      div.graph {
        background-color: #fff;
        /* padding: 0; */
        padding: 10px;
        height: 100%;
        display: block;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
        position: relative;
      }
      
        div.graph img {
          width:100%;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        div.graph p.axisx {
          margin: 0;
          position: absolute;
          right: 40px;
          bottom: 10px;
        }
        div.graph p.axisy {
          margin:0;
          position: absolute;
          left: 10px;
          top: 10px
        }

      /* Data */
      div.datablock {margin-bottom: 15px}

        div.datablock h2 { margin-bottom: 15px }

        div.datablock ul{
          margin: 0 0 0 30px;
          padding: 0;
          list-style: none;
        }

          div.datablock ul li{
            margin: 0;
            padding: 0;
            clear: both;
          }

        div.datablock ul p.label {width: 65%; float: left; padding-right: 10px;}
        div.datablock ul p.value {
          font-weight: 700;
        }
